
body{
    background-color: rgb(17, 17, 17);
}

.title{
    height: 50px;
    padding-left: 40px;
    margin: 20px;
    padding-bottom: 18px;
    color: white;
    font-size:  25px;
}


.wrapper{
    max-width: 1200px;
    background-color: rgb(39,39,39);
    margin:  auto;
    }

img{
max-width: 100%;
}

.img_button img{
    display: block;
    transform: scale(1.1);
    cursor: pointer;
    filter: grayscale(100%);
    transition-duration: 0.5s;

}

.img_button img:hover{
    filter: grayscale(0);
    transition-duration: 0.5s;
}

.content{
    display: none;
    padding: 30px;
}

.txt{
    color: white;
}
　
.img_button{
    transition: 0.1s all;
    cursor: pointer;
}


.txt_img{
    display: flex;
}

.img{
    width: 20%;
}

.txt{
    width: 80%;
    padding: 10px;
}

.end{

    margin: 20px;
}


